.home_container {
}
.home_first_container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: "Titillium Web", "san-selif";
  font-weight: 900;
  color: white;
  background: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 40px;
}
.home_first_container .home_first_title {
  margin-left: -20vw;
}
.home_first_container_br {
  display: inline;
}
.home_first_reactDesc {
  font-family: "escore5";
  position: absolute;
  font-size: 10px;
  bottom: 5vh;
  color: rgb(134, 134, 134);
}
.home_about_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background: rgb(227, 173, 248); */
}
.home_about_title {
  background: rgb(152, 129, 194);
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "Titillium Web", "san-selif";
  color: white;
  font-weight: 900;
  font-size: 4px;
  letter-spacing: 2px;
}
.home_about_desc {
  position: relative;
  width: 400px;
  height: 400px;
}
.home_about_image {
  height: 400px;
}
.home_about_desc_head {
  color: rgba(96, 74, 138);
  font-family: "escore9";
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.home_about_desc_body {
  font-family: "escore4";
  font-size: 15px;
  line-height: 30px;
  padding-right: 90px;
}
.home_about_desc_foot {
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 100px;
}
.home_about_desc_foot_sns {
  display: flex;
  padding: 10px;
  padding-left: 0;
  margin-bottom: 10px;
}
.home_about_desc_foot_skills {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(41, 41, 41);
  padding: 10px;
  width: fit-content;
  margin-right: 90px;
  margin-top: 10px;
  padding-bottom: 0;
}
.home_about_desc_foot_skills:before {
  content: "SKILLS";
  font-family: "Titillium Web", "san-selif";
  font-weight: 900;
  color: rgb(53, 53, 53);
  font-size: 12px;
  position: absolute;
  left: 0;
  background: yellow;
  margin-top: -30px;
  padding-right: 10px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.home_about_desc_foot_skills > div {
  margin-bottom: 5px;
}
.home_project_title {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "Titillium Web", "san-selif";
  color: rgba(96, 74, 138);
  font-weight: 900;
  font-size: 30px;
  text-decoration: underline;
}
.home_project_subtitle {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "escore7";
  align-self: center;
  font-size: 13px;
  color: rgb(152, 129, 194);
  margin-bottom: 40px;
}
.home_project_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;
}
.home_project_item {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
}
.home_project_item_desc {
  font-family: "escore7";
  z-index: 10;
  position: absolute;
  color: rgb(163, 163, 163);
  left: 5%;
  bottom: 7%;
  font-size: 15px;
}
.home_project_item_desc2 {
  font-family: "escore4";
  font-size: 15px;
  z-index: 10;
  position: absolute;
  color: rgb(211, 211, 211);
  right: 30px;
  bottom: 30px;
}
.project_image {
  filter: brightness(70%);
  width: 38vw;
  height: 21vw;
  cursor: pointer;
}
.project_image:hover {
  filter: brightness();
}
.home_foot_container {
  margin-top: 100px;
  font-size: 12px;
  font-family: "escore8";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 150px;
  background: black;
  color: rgb(173, 173, 173);
}
@media (max-width: 1410px) {
  .home_project_item_desc2 {
    visibility: hidden;
  }
}
@media (max-width: 1070px) {
  .home_container {
    /* margin-top: 120px; */
  }
  .home_first_container .home_first_title {
    margin-left: 0;
  }
  .home_about_desc {
    width: 600px;
  }
  .home_about_container {
    flex-direction: column;
    align-items: center;
  }
  .home_about_desc_foot {
    margin-bottom: 40px;
  }
  .project_image {
    width: 60vw;
    height: 34vw;
    cursor: pointer;
  }
  .home_about_desc {
    height: auto;
  }
  .home_about_desc_foot_skills {
    margin-right: 0;
  }
}
@media (max-width: 770px) {
  .home_first_container .home_first_title {
    margin-left: -5vw;
  }
  .home_about_desc {
    width: 80vw;
    justify-self: center;
  }
  .home_about_desc_body {
    padding-right: 0px;
  }
  .home_about_image {
    width: 100vw;
    height: auto;
  }
  .home_first_container_br {
    display: block;
  }
  .home_about_title {
    font-size: 50px;
  }
  .home_about_desc {
    display: flex;
    flex-direction: column;
  }
  .home_about_desc_foot {
    margin-top: 20px;
    position: static;
    margin-bottom: 20px;
  }
  .home_project_container {
    padding-left: 0;
    padding-right: 0;
  }
  .project_image {
    width: 100vw;
    height: 56vw;
  }
  .home_project_item {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
