@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900&display=swap");
@font-face {
  font-family: "escore1";
  src: url(font/SCDream1.otf) format("truetype");
}
@font-face {
  font-family: "escore2";
  src: url(font/SCDream2.otf) format("truetype");
}
@font-face {
  font-family: "escore3";
  src: url(font/SCDream3.otf) format("truetype");
}
@font-face {
  font-family: "escore4";
  src: url(font/SCDream4.otf) format("truetype");
}
@font-face {
  font-family: "escore5";
  src: url(font/SCDream5.otf) format("truetype");
}
@font-face {
  font-family: "escore6";
  src: url(font/SCDream6.otf) format("truetype");
}
@font-face {
  font-family: "escore7";
  src: url(font/SCDream7.otf) format("truetype");
}
@font-face {
  font-family: "escore8";
  src: url(font/SCDream8.otf) format("truetype");
}
@font-face {
  font-family: "escore9";
  src: url(font/SCDream9.otf) format("truetype");
}
.full_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.sidebar {
  position: fixed;
  width: 37vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: -37vw;
  z-index: 5;
  transition: 0.35s;
  color: white;
  display: flex;
  flex-direction: column;
}
.sidebar_title {
  margin-top: 80px;
  font-family: "Titillium Web", "san-selif";
  font-weight: 900;
  align-self: center;
  font-size: 40px;
  padding-top: 40px;
}
.sidebar_list {
  font-family: "escore9";
  color: rgb(153, 153, 153);
  font-size: 20px;
  text-decoration: underline;
}
.sidebar_list > li {
  cursor: pointer;
  margin-bottom: 10px;
}
@media (max-width: 1070px) {
  .sidebar {
    width: 50vw;
    right: -50vw;
  }
  .sidebar_list {
    font-size: 40px;
  }
}
@media (max-width: 770px) {
  .sidebar {
    width: 100vw;
    right: -100vw;
  }
  .sidebar_title {
    padding-bottom: 20px;
  }
  .sidebar_list {
    font-size: 30px;
  }
  .sidebar_list > li {
    margin-bottom: 20px;
  }
}